### In this class, I will be showing you:

1. How to connect to MySQL, 
2. How to Create a Database,
3. How to write your pandas data frame to MySQL and
4. How to write sql queries that run on DB

In [ ]:
import pandas as pd 
from sqlalchemy import create_engine
import mysql.connector
import pymysql

Now, let's create a simple data frame from lists using dictionary for further use

In [ ]:
courses = {'Courses':['English','French','German','Spanish'],
           'Duration_in_days':['35','35','40','30']}

df = pd.DataFrame.from_dict(courses)

df

### Connecting to MySQL and Create a Database

In your MySQL you will have localhost, user, password information. Using them you can to a connect to the database as below. Using cursor we are also going to create a database called **my_tutorials**.

In [ ]:
try:
    dbConnection = pymysql.connect(
        host="localhost",
        user="root",
        password="123@mysql"
    )
    print("Connection established")
    cursor = dbConnection.cursor()
    cursor.execute("create database if not exists my_tutorials")
    dbConnection.commit()
    print("Database created successfully")
    cursor.execute("use my_tutorials")

except mysql.connector.Error as err:
    print("An error occurred:", err)

### Writing the Data Frame to a table in the database.

I will be creating an engine to connect to my new database

In [ ]:
hostname= "localhost"
database= "my_tutorials"
username= "root"
password= "123@mysql"

engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=database, user=username, pw=password))

Now I can write my pandas data frame to my new_db as follows

In [ ]:
df.to_sql('table1', engine, if_exists='replace', index=False)

### SQL queries that run on DB

In [ ]:
cursor.execute("use new_db")

In [ ]:
cursor.execute('''  
SELECT * from table1
          ''')

for row in cursor.fetchall():
    print (row)

It is also possible to read a mysql table directly into a dataframe as follows:

In [ ]:
df_sql = pd.read_sql('SELECT * from table1', con=engine)
df_sql

In [ ]:
cursor.close()
mydb.close()

## Reading Data from MySQL Database

Once we have established a connection to the MySQL database, we can use Pandas to read data from the database. We can use the read_sql_query() function provided by Pandas to execute a SQL query on the database and return the results as a Pandas DataFrame.

In [ ]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

hostname= "localhost"
database= "my_tutorials"
username= "root"
password= "123@mysql"

sqlEngine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=database, user=username, pw=password))
dbConnection    = sqlEngine.connect()

frame           = pd.read_sql("select * from world.city", dbConnection);

pd.set_option('display.expand_frame_repr', False)

print(frame)

dbConnection.close()