In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder

In [34]:
df = pd.read_csv("../dataset/50_Startups.csv")
df.head(3)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39

In [35]:
df.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [50]:
numeric = df.select_dtypes(include="number")
numeric.head(3)

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39

In [53]:
encoder = LabelEncoder()
df['State'] = encoder.fit_transform(df['State'])

0    2
1    0
2    1
Name: State, dtype: int32

In [54]:
X = df.drop(columns="Profit")
X.head(3)

   R&D Spend  Administration  Marketing Spend  State
0  165349.20       136897.80        471784.10      2
1  162597.70       151377.59        443898.53      0
2  153441.51       101145.55        407934.54      1

In [55]:
Y = df['Profit']
Y.head(3)

0    192261.83
1    191792.06
2    191050.39
Name: Profit, dtype: float64

In [56]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)
print(len(X_train),len(X_test),len(Y_train),len(Y_test))

40 10 40 10

In [57]:
regression = LinearRegression()
regression.fit(X_train,Y_train)
regression

LinearRegression()

In [58]:
regression.intercept_

54080.71684611381

In [59]:
regression.coef_

array([  0.80379465,  -0.06791023,   0.03126059, -16.82030683])

In [60]:
coeff_df = pd.DataFrame(regression.coef_,X.columns,columns=['Coefficient'])
coeff_df

                 Coefficient
R&D Spend           0.803795
Administration     -0.067910
Marketing Spend     0.031261
State             -16.820307

In [61]:
predictions = regression.predict(X_test)
predictions

array([126720.66150723,  84909.08961912,  98890.31854876,  46479.31240248,
       129113.18318813,  50968.88397762, 109015.01626803, 100893.57078084,
        97713.73821431, 113085.59056068])

In [62]:
print("Mean absolute error : ",metrics.mean_absolute_error(Y_test,predictions))
print("Mean squared error : ",metrics.mean_squared_error(Y_test,predictions))
print("Root mean squared error : ",np.sqrt(metrics.mean_squared_error(Y_test,predictions)))

Mean absolute error :  6979.175746721381
Mean squared error :  80929465.49097762
Root mean squared error :  8996.080562721612

In [63]:
regression.score(X_test,Y_test)

0.9000614254946405

In [64]:
regression.score(X_train,Y_train)

0.9535928780839645